# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
bin/Debug
obj/
src/grpc-learning/grpc/bin/Debug/
src/grpc-learning/server/bin/Debug/
src/glog-learning/test.log
src/go-talker/server/test.log
debug
src/go-talker/server/test.2018-04-27.log
src/go-talker/server/test.2018-04-27.log
src/go-talker/client/test.log
src/go-talker/client/test.log
